
body{
    min-width: 900px;
    min-height: 1200px;
    background-color: rgb(231, 240, 243); 
}
nav{
    min-width: 900px !important;
}
.margen-top{
    margin-top: 5px;
}
.margen-top-tabla{
    margin-top: 10px;
}

#contenedor{
    border: 0.05em solid #46b8da !important;
    border-radius: 10px !important;
    background:rgb(227, 231, 229) !important;
    height: 250px !important;
}
#contenedor-pdf{
    border: 0.05em solid #46b8da !important;
    border-radius: 10px !important;
    background:rgb(230, 237, 238) !important;
    height: 210px !important;
}
.skin-label{
    border: 2px solid whitesmoke !important;
    border-radius: 10px !important;
    background: rgb(42, 128, 168)  !important;
    color: whitesmoke;
    margin-right: 5px;
}
.skin-input{
    border: 0.05em solid #46b8da ;
    border-radius: 10px !important;
    background:  #F2F5F3 ;
    margin-right: 5px;
}
.skin-navbar{
    background: rgb(50, 131, 168) !important;
}
.custom-btn{
    border: 0.05em solid !important;
    border-radius: 10px !important;
    color: white !important;
}
.centrarTxt{
    text-align: center !important;
}

.pagination {
    margin: 0 auto !important;
}
.ico{
    font-size: 16px !important;
    padding: 5px;
}
#vnt-contenedor{
    margin-top: 20px;
    
}
.gj-icon{
    color: #17a2b8 !important;    
}

.centrar{
    text-align: center !important;
    margin: 0 auto;
  }

.ancho_celdas{
    width: 200px !important;
}

/*prueba*/
.selected{
    cursor: pointer;
}
.selected:hover{
    background-color: #0585C0;
    color: white;
}
.seleccionada{
    background-color: #0585C0;
    color: white;
}