
body{
   /* min-width: 900px;*/
   /* min-height: 1200px;*/
    background-color: rgb(231, 240, 243); 
}
.margen-top{
    margin-top: 5px;
}
.margen-top-tabla{
    margin-top: 10px;
}
/*
#contenedor{
    border: 0.05em solid #46b8da !important;
    border-radius: 10px !important;
    background:rgb(227, 231, 229) !important;
    height: 250px !important;
}*/
#contenedor-pdf{
    border: 0.05em solid #46b8da !important;
    border-radius: 10px !important;
    background:rgb(230, 237, 238) !important;
    height: 210px !important;
}
.skin-label{
    border: 2px solid whitesmoke !important;
    border-radius: 10px !important;
    background: rgb(42, 128, 168)  !important;
    color: whitesmoke;
    margin-right: 5px;
}
.skin-input{
    border: 0.05em solid #46b8da ;
    border-radius: 10px !important;
    background:  #F2F5F3 ;
    margin-right: 5px;
}
.skin-navbar{
    background: rgb(50, 131, 168) !important;
}
.custom-btn{
    border: 0.05em solid !important;
    border-radius: 10px !important;
    color: white !important;
}
.centrarTxt{
    text-align: center !important;
}

.pagination {
    margin: 0 auto !important;
}
.ico{
    font-size: 16px !important;
    padding: 5px;
}
#vnt-contenedor{
    margin-top: 20px;
    
}
.gj-icon{
    color: #17a2b8 !important;    
}

.centrar{
    text-align: center !important;
    margin: 0 auto;
  }

.ancho_celdas{
    width: 200px !important;
}

/*prueba*/
.selected{
    cursor: pointer;
}
.selected:hover{
    background-color: #0585C0;
    color: white;
}
.seleccionada{
    background-color: #0585C0;
    color: white;
}

.style{
    font-size: 10px !important;

}
#UsrName{
    margin-right: 20px !important;
    color: white;
    
}

@media (min-width: 1200px) {
    #contenedor{
        border: 0.05em solid #46b8da !important;
        border-radius: 10px !important;
        background:rgb(227, 231, 229) !important;
        height: 250px !important;
    }

    .inp_estilo{
        border: 2px solid rgb(197, 193, 193) !important;
        border-radius: 10px !important;
        width: 75px !important;
    }
	 

 }
 
 
 /* Landscape tablets and medium desktops */
 
 @media (min-width: 992px) and (max-width: 1199px) {
    #contenedor{
        border: 0.05em solid #46b8da !important;
        border-radius: 10px !important;
        background:rgb(227, 231, 229) !important;
        height: 250px !important;
    }
    .inp_estilo{
        border: 2px solid rgb(197, 193, 193) !important;
        border-radius: 10px !important;
        width: 75px !important;
    }
	 
 } 
 
 /* Portrait tablets and small desktops */
 
 @media (min-width: 768px) and (max-width: 991px) {
	
    #contenedor{
        border: 0.05em solid #46b8da !important;
        border-radius: 10px !important;
        background:rgb(227, 231, 229) !important;
        height: 500px !important;
    }
    span{
        width: 125px !important;
    }
    .inp_estilo{
        border: 2px solid rgb(197, 193, 193) !important;
        border-radius: 10px !important;
        width: 40px !important;
    }
    #calendario{
        margin-left: 35% !important;
      }
      li a {
        text-align: center !important;
    }
    #UsrName{
       float: left !important;
    }
    #UsrCloseSesion{
      float: right !important;
      margin-right: 20px;
      
   }
 }
 
 
 /* Landscape phones and portrait tablets */
 
 @media (min-width: 128px) and (max-width: 767px) {
    #contenedor{
        border: 0.05em solid #46b8da !important;
        border-radius: 10px !important;
        background:rgb(227, 231, 229) !important;
        height: 500px !important;
        
       
    }
    span{
        width: 125px !important;
    }
    #btn-G-venta{
        margin-left: 36% !important;
        margin-right: 36% !important;
    }
    #btn-L-venta{
        margin-left: 36% !important;
        margin-right: 36% !important; 
    }
    .inp_estilo{
        border: 2px solid rgb(197, 193, 193) !important;
        border-radius: 10px !important;
        width: 40px !important;
    }
   
    #contenedor-pdf{
        border: 0.05em solid #46b8da !important;
        border-radius: 10px !important;
        background:rgb(230, 237, 238) !important;
        height: 250px !important;
    }
    #calendario{
        margin-left: 35% !important;
      }
      li a {
          text-align: center !important;
      }
      #UsrName{
         float: left !important;
      }
      #UsrCloseSesion{
        float: right !important;
        margin-right: 20px;

     }
 }

 .bordes{
    border: 0.05em solid #46b8da !important;
    border-radius: 10px !important;
    background:rgb(230, 237, 238) !important;
    float: center !important;
    text-align: center !important;
 }
 .margen-tp{
     margin-top: 30px;
 }